/* TITLE */
@media (min-width: 1000px) {
  .component-label {
    font-size: 1.8em;
  }

  .title-bar {
    width: 4px;
    height: 28px;
  }
}

@media (max-width: 1000px) {
  .component-label {
    font-size: 1.4em;
  }

  .title-bar {
    width: 4px;
    height: 22px;
  }
}

@media (max-width: 450px) {
  .component-label {
    font-size: 1.2em;
  }

  .title-bar {
    width: 3px;
    height: 18px;
  }
}

.component-label {
  color: white;
  font-weight: bold;
  margin-left: 4px;
}

.title-bar {
  background-color: #c7493a;
}

.view-all {
  position: absolute;
  right: 0px;
  bottom: 0px;
  font-size: 1.2em;
  color: #c7493a;
}

.view-all:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* COPYRIGHT */
.copyright {
  grid-column-start: 2;
  display: flex;
  justify-self: center;
  margin-top: 5%;
  margin-bottom: 1%;
}

.cp-right-icon {
  align-self: flex-start;
  color: white;
}

.copyright span {
  color: white;
  font-size: 1.2em;
}

@media (max-width: 800px) {
  .copyright span {
    color: white;
    font-size: 1em;
  }
}

@media (max-width: 500px) {
  .copyright span {
    color: white;
    font-size: 0.8em;
  }
}

/* PICTURE MODAL */
.pictures-modal {
  position: fixed;
  grid-column-start: 2;
  grid-column-end: 2;
  width: 82%;
  height: 100vh;
  background: black;
  z-index: 10;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  overflow-y: scroll;
  visibility: hidden;
  opacity: 0;
  margin-left: 9%;
  top: 0px;
}

.closeIcon {
  color: white;
  align-self: flex-end;
}

.closeIcon:hover {
  cursor: pointer;
}

.title {
  margin-left: 0.5em;
}

.poster-row {
  display: flex;
  /* background: red; */
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 2em;
}

.poster-row img {
  margin-top: 0.5em;
}

.poster-row img:hover {
  outline: 2px solid #c7493a;
  cursor: pointer;
  transition: outline 150ms ease-in;
}

.backdrop-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 2em;
}

.backdrop-row img {
  margin-top: 0.5em;
}

@media (max-width: 400px) {
  .backdrop-row img {
    width: 90%;
  }
}

.backdrop-row img:hover {
  outline: 2px solid #c7493a;
  cursor: pointer;
  transition: outline 150ms ease-in;
}

/* CAST MODAL */
.cast-modal {
  position: fixed;
  top: 0px;
  padding: 0.5em;
  width: 82%;
  margin-left: 9%;
  height: 100vh;
  background: black;
  z-index: 22;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  visibility: hidden;
  opacity: 0;
}

.cast-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cast {
  display: flex;
  flex-direction: column;
  /* flex: none; */
  flex-basis: 11.5%;
  /* height: 20%; */
  margin-bottom: 1%;
  justify-content: flex-end;
}

.cast img {
  width: 100%;
}

.cast:hover {
  transform: translateY(-10px);
  transition: transform 100ms ease-in;
  cursor: pointer;
}

.cast .empty-image {
  background: #d3d3d3;
  width: 100%;
  height: 80%;
  height: auto;
}

.cast .cast-description {
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cast-description span {
  color: #161616;
  text-align: center;
  padding-bottom: 0.4em;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.cast .cast-name {
  font-weight: bold;
  padding-top: 0.4em;
}

@media (max-width: 1500px) {
  .cast {
    flex-basis: 19.5%;
  }
}

@media (max-width: 1000px) {
  .cast {
    flex-basis: 24.5%;
  }
}

@media (max-width: 800px) {
  .cast {
    flex-basis: 32.3%;
  }
}

@media (max-width: 500px) {
  .cast {
    flex-basis: 49.5%;
  }
}
